In [26]:
import pandas as pd

In [27]:

# df = pd.read_excel("20210614 Ecommerce sales.xlsb", engine='pyxlsb')
df = pd.read_excel("20210614_Ecommerce_sales_bis.xlsx")

df.head()

,Cod_cmd,Libellé produit,Vendeur,Univers,Nature,Date de commande,Montant cmd,Quantité,Prix transport,Délai transport annoncé
0,182210782,Table basse carrée detroit design industriel,Autre vendeur,Canapé Salon Séjour,Table basse,2021-01-20,244,4,6.67,10.0
1,182082437,Ours en peluche géant 150 cm brun,Autre vendeur,Enfant Bébé,Peluche,2021-01-17,28,1,9.92,10.0
2,182095765,Ours en peluche géant 100 cm blanc,Autre vendeur,Enfant Bébé,Peluche,2021-01-18,15,1,9.92,10.0
3,182615392,Lot de 4 chaises mia noires pour salle à manger,Autre vendeur,Canapé Salon Séjour,Chaise,2021-01-23,385,2,20.75,10.0
4,184222081,Meuble tv falko bois blanc et gris,Autre vendeur,Canapé Salon Séjour,Meuble tv,2021-02-11,61,1,19.08,10.0

In [28]:
df.tail()

,Cod_cmd,Libellé produit,Vendeur,Univers,Nature,Date de commande,Montant cmd,Quantité,Prix transport,Délai transport annoncé
525029,186997203,Lit coffre madrid 140x200 + 1 sommier ch ne bl...,Autre vendeur,Chambre Literie,Lit adulte,2021-03-29,530,1,70.83,25.0
525030,187045930,Nappe antitache ronde infroissable et 100 poly...,Autre vendeur,Décoration Textile,Linge de table,2021-03-29,15,1,0.00,3.0
525031,187019687,Good morning housse de couette pour enfants da...,Autre vendeur,Décoration Textile,Housse de couette,2021-03-29,23,1,0.00,6.0
525032,186990574,Ampoule pour four e14 25w 230v ac,Autre vendeur,Décoration Textile,Ampoule,2021-03-29,15,2,0.00,7.0
525033,211053330,At4 chambre complète carnaval blanc bouleau,Autre vendeur,Chambre Literie,Ensemble chambre,2021-03-30,669,1,0.00,19.0

In [29]:
df['Date de commande']

0        2021-01-20
1        2021-01-17
2        2021-01-18
3        2021-01-23
4        2021-02-11
            ...
525029   2021-03-29
525030   2021-03-29
525031   2021-03-29
525032   2021-03-29
525033   2021-03-30
Name: Date de commande, Length: 525034, dtype: datetime64[ns]

In [30]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525034 entries, 0 to 525033
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Cod_cmd                  525034 non-null  int64
 1   Libellé produit          525034 non-null  object
 2   Vendeur                  525034 non-null  object
 3   Univers                  507347 non-null  object
 4   Nature                   513289 non-null  object
 5   Date de commande         525034 non-null  datetime64[ns]
 6   Montant cmd              525034 non-null  int64
 7   Quantité                 525034 non-null  int64
 8   Prix transport           525034 non-null  float64
 9   Délai transport annoncé  285611 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 40.1+ MB

,Cod_cmd,Date de commande,Montant cmd,Quantité,Prix transport,Délai transport annoncé
count,5.250340e+05,525034,525034.000000,525034.000000,525034.000000,285611.000000
mean,1.843096e+08,2021-02-12 08:57:36.544147456,237.909819,1.114495,5.699509,11.074199
min,1.301047e+08,2021-01-01 00:00:00,15.000000,1.000000,-16.670000,0.000000
25%,1.825251e+08,2021-01-23 00:00:00,57.000000,1.000000,0.000000,3.000000
50%,1.840486e+08,2021-02-09 00:00:00,155.000000,1.000000,0.000000,8.000000
75%,1.855623e+08,2021-03-05 00:00:00,318.000000,1.000000,0.000000,12.000000
max,2.111540e+08,2021-03-31 00:00:00,11858.000000,208.000000,416.670000,84.000000
std,4.228657e+06,NaN,274.712035,0.723702,14.171806,13.797036

In [31]:
df.isna().sum()

Cod_cmd                         0
Libellé produit                 0
Vendeur                         0
Univers                     17687
Nature                      11745
Date de commande                0
Montant cmd                     0
Quantité                        0
Prix transport                  0
Délai transport annoncé    239423
dtype: int64

In [32]:
df = df.dropna(subset=["Nature"])

In [33]:
df = df.dropna(subset=["Univers"])

In [34]:
# axis = 1 colonne 
# axis = 0 ligne
df = df.drop("Délai transport annoncé", axis=1)

In [35]:
df.isna().sum()

Cod_cmd             0
Libellé produit     0
Vendeur             0
Univers             0
Nature              0
Date de commande    0
Montant cmd         0
Quantité            0
Prix transport      0
dtype: int64

In [36]:
# df_copy = df.to_excel("20210614_Ecommerce_sales_clean.xlsx", index=False)

In [37]:
nature = df["Nature"].value_counts()
total_nature = nature.sum()
categorie_cible = df["Nature"].value_counts().unique()
total_categorie_cible = categorie_cible.sum()

In [38]:
total_nature

507347

In [39]:
total_categorie_cible

495324

In [40]:
nature_vide = df["Nature"].isna().sum()
nature_vide

0

In [41]:
nature_vide = df["Nature"].isna()
lignes_nature_vide = df.loc[nature_vide]
lignes_nature_vide

Empty DataFrame
Columns: [Cod_cmd, Libellé produit, Vendeur, Univers, Nature, Date de commande, Montant cmd, Quantité, Prix transport]
Index: []

In [42]:
# mode: la valeur qui apparaît le plus souvent
# Renvoyer la valeur de fréquence la plus élevée d’une série
mode_nature = df["Nature"].mode().iloc[0]
mode_nature

'Matelas'

In [43]:
count  = df["Nature"].value_counts()
count

Nature
Matelas                35518
Lit adulte             21056
Meuble à chaussures    19091
Chaise                 15580
Bureau                 15391
                       ...
Décapeur thermique         1
Fendeur de bûches          1
Accessoire biberon         1
Lame de terrasse           1
Cube de jardin             1
Name: count, Length: 567, dtype: int64

In [44]:
mode_nature = df["Nature"].mode().iloc[0]
# Remplacer les valeurs manquantes dans la colonne "Nature" par le mode
df["Nature"].fillna(mode_nature, inplace=True)

In [45]:
nature_vide = df["Nature"].isna().sum()
nature_vide

0

In [46]:
# Filtrer les données pour les commandes de matelas et la date du 31/03/2021
date_filtre = '2021-01-31'
nature_filtre = 'Matelas'

# Appliquer les filtres
commandes_matelas = df[(df['Nature'] == nature_filtre) & (df['Date de commande'] == date_filtre)]

# Afficher les commandes de matelas pour le 31/03/2021
commandes_matelas["Montant cmd"].sum()

233718

In [47]:
# Filtrer les données pour les commandes de matelas et la date du 31/03/2021
date_filtre = '2021-01-31'
nature_filtre = 'Matelas'

# Appliquer les filtres
commandes_matelas = df[(df['Nature'] == nature_filtre)]

# Afficher les commandes de matelas pour le 31/03/2021
commandes_matelas["Montant cmd"]

# Afficher les prix
prix = commandes_matelas["Montant cmd"] / commandes_matelas["Quantité"]
prix

344       157.0
352       176.0
385       494.0
386       494.0
387       232.0
          ...
525012    324.0
525013    629.0
525015    324.0
525016    865.0
525017    144.0
Length: 35518, dtype: float64

In [51]:
df.head(100)

,Cod_cmd,Libellé produit,Vendeur,Univers,Nature,Date de commande,Montant cmd,Quantité,Prix transport
0,182210782,Table basse carrée detroit design industriel,Autre vendeur,Canapé Salon Séjour,Table basse,2021-01-20,244,4,6.67
1,182082437,Ours en peluche géant 150 cm brun,Autre vendeur,Enfant Bébé,Peluche,2021-01-17,28,1,9.92
2,182095765,Ours en peluche géant 100 cm blanc,Autre vendeur,Enfant Bébé,Peluche,2021-01-18,15,1,9.92
3,182615392,Lot de 4 chaises mia noires pour salle à manger,Autre vendeur,Canapé Salon Séjour,Chaise,2021-01-23,385,2,20.75
4,184222081,Meuble tv falko bois blanc et gris,Autre vendeur,Canapé Salon Séjour,Meuble tv,2021-02-11,61,1,19.08
...,...,...,...,...,...,...,...,...,...
95,183908268,Meuble de rangement en escalier liam 4 niveaux...,Autre vendeur,Bureau Rangement,Bibliotheque,2021-02-07,86,1,16.58
96,181920450,Lot de 2 tables de chevet bois olga blanches,Autre vendeur,Chambre Literie,Chevet,2021-01-14,28,1,1.67
97,184174355,Lot de 2 tables de chevet bois olga blanches,Autre vendeur,Chambre Literie,Chevet,2021-02-10,54,1,16.58
98,183903263,Table basse plateau relevable soa bois blanc,Autre vendeur,Canapé Salon Séjour,Table basse,2021-02-07,156,1,27.42
99,182055795,Lot de 2 tables de chevet bois olga blanches t...,Autre vendeur,Chambre Literie,Chevet,2021-01-17,54,1,16.58